crewai==1.14.4
crewai-tools==1.14.4
langchain-community==0.4.1
langchain-chroma==1.0.0
langchain-huggingface==1.2.2
langchain-text-splitters==1.1.2
chromadb==1.1.1
fastembed==0.4.2
python-dotenv==1.2.2
streamlit==1.45.0
litellm==1.74.0